<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>
<!-- review  ends -->

<!-- contact  starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span> Blogger </span> Registration </h1>

    <div class="row">

        <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" >
            
            <input id="b_name" placeholder="First Last" type="text" name="b_name" class="box"><br/>

            
            <input id="b_username" placeholder="enter your username" type="text" name="b_username" class="box"><br/>

        
            <input id="b_password" placeholder="******" type="password" name="b_password" class="box"><br/>

            
            <input type="submit" value="Submit" class="btn">
      <p id="errors"></p>
    </form>  
    <% 
if (typeof(successMsg) != 'undefined')
{
%>

    <p class="success"> <%= successMsg %><br></p>
<%
}
%>


    <% 
    if (typeof(errors) != 'undefined')
    {
      for (let error of errors)
      {
    %>

        <p class="errors"> <%= error.msg %><br></p>
    <%
      }
    }
     %> 
        <!-- <div class="image">
            <img src="css/images/contact-img.svg" alt="">
        </div> -->

    </div>

</section>




<!-- contact section ends -->

<!-- footer section starts  -->


<!-- footer section starts  -->
<%- include('layouts/footer'); -%>

<!-- footer section ends -->

</body>
</html>
