<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>

<body>

  <section class="contact" id="contact">

    <h1 class="heading"> <span> Traveller </span> Details Updated </h1>
    <div class="row">

      <form name="myform" method="Post" onsubmit="return formSubmit();" action="">
        <input id="des_name" placeholder="destination" type="text" name="des_name" value="<%= order.des_name %>" class="box"><br/>
        <input id="des_price" placeholder="price" type="text" name="des_price"  value="<%= order.des_price %>" class="box"><br/>
        <input type="submit" value="Submit" class="btn">
      </form>
      <% if (typeof(successMsg) != 'undefined') { %>
        <p class="success"> <%= successMsg %><br></p>
      <% } %>
      <% if (typeof(errors) != 'undefined') { %>
        <% for (let error of errors) { %>
          <p class="errors"> <%= error.msg %></p>
        <% } %>
      <% } %>
    </div>
  </section>
  <div class="clear"></div>
</body>
<!-- contact section ends -->
<!-- footer section starts  -->
<%- include('layouts/footer'); -%>
<!-- footer section ends -->
</html>


