<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>
  



<!-- review  ends -->

<!-- contact  starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span> Traveller </span> Details </h1>

    <div class="row">

        <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" >
            
            <input id="name" placeholder="First Last" type="text" name="name" class="box"><br/>

            
            <input id="email" placeholder="email@domain.com" type="text" name="email" class="box"><br/>

        
            <input id="phone" placeholder="123-123-1234" type="phone" name="phone" class="box"><br/>

            
            <input id="interest" placeholder="enter your interest" type="text" name="interest" class="box"><br/>

            <input type="submit" value="Submit" class="btn">
      <p id="errors"></p>
    </form> 
    <% 
if (typeof(successMsg) != 'undefined')
{
%>

    <p class="success"> <%= successMsg %><br></p>
<%
}
%>


    <% 
    if (typeof(errors) != 'undefined')
    {
      for (let error of errors)
      {
    %>

        <p class="errors"> <%= error.msg %><br></p>
    <%
      }
    }
     %> 
        <!-- <div class="image">
            <img src="css/images/contact-img.svg" alt="">
        </div> -->

    </div>

</section>




<!-- contact section ends -->



<!-- footer section starts  -->
<%- include('layouts/footer'); -%>

<!-- footer section ends -->

</body>
</html>
